<section class="max-h-[600px] overflow-y-auto width=100% min-w-[600px]">
  <h2 class="text-center">Basket</h2>
  <table class="table w-full bg-base-200">
    <thead class="sticky top-0 bg-base-300">
    <tr>
      <th>Id</th>
      <th>Item</th>
      @if (isAdmin()) {
        <th>Action</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          @if (isAdmin()) {
            <td>
              <button class="btn-ghost" (click)="removeItemById(item.id)">Remove</button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</section>
