<h2>Admin</h2>
<app-select-items />

<h2>Basket</h2>
<table class="talbe">
  <thead>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Apple 🍎</td>
      <td>
        <button class="btn btn-danger">Remove</button>
      </td>
    </tr>
    <tr>
      <th>2</th>
      <td>Pear 🍐</td>
      <td>
        <button class="btn btn-danger">Remove</button>
      </td>
    </tr>
    <tr>
      <th>3</th>
      <td>Banana 🍌</td>
      <td>
        <button class="btn btn-danger">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
